:root {
    --maxw: 1400px;
    --bg-dark: #000000;

    /* TEXT */
    --text-primary: #FFFFFF;
    --text-secondary: #E0E0E0;
    --text-light: #dbdbdbd3;
    --quote-color: rgb(255, 74, 74);

    /* LINEAR GRADIENT COLOR */
    --first-linear-gradient: radial-gradient(circle, rgba(42, 56, 255, 0.13) 0%, transparent 70%);
    --linear-gradient-2: radial-gradient(circle, rgba(16, 0, 156, 0.25) 0%, transparent 70%);
}

::selection {
    background: #d67063;
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: var(--text-primary);
    background-color: var(--bg-dark);
    overflow-x: hidden;
}

main {
    background-image: var(--first-linear-gradient);
    overflow-x: hidden;
}

/* CONTAINER AND TYPOGRAPHY */
.container {
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 2rem 1rem;
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    color: var(--text-primary);
    margin: 0 0 1rem 0;

}

h2 {
    font-size: 2.5rem;
    color: var(--text-primary);
    margin: 0 0 0.75rem 0;
    letter-spacing: 3px;

}

h3 {
    font-size: 1.35rem;
    color: var(--text-secondary);
    margin: 0 0 0.5rem 0;
    letter-spacing: 2px;
}

p {
    font-size: 1.1rem;
    color: var(--text-light);
    margin: 0 0 0.5rem 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

b {
    letter-spacing: 1px;
}




.paragraph-container {
    padding: 1.5rem 0;
}

/* HEADING AND IMAGE */
.academics {
    margin-top: 90px;
    position: relative;
    height: 380px;
    background: url('/images/school-image-1.JPG') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.academics-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
}

.academics-inner {
    position: relative;
    z-index: 1;
    padding: 0 .5rem;
}

.academics-inner h1 {
    color: var(--text-primary);
}

.academics-inner p {
    color: var(--text-secondary);
}

.academics-inner .subtitle {
    font-size: 1.1rem;
}

/* HEADING AND PARAGRAPH */
.about-heading {
    background-image: var(--linear-gradient-2);
}

.about-heading h1 {
    text-align: center;
}


/* FIRST SVG */
.about-svg {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.about-first-card {
    max-width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.about-page-vector-image {
    width: 90px;
    height: 90px;
    background-color: var(--quote-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about-page-vector-image img {
    width: 50%;
    height: 50%;
    background-size: cover;
}

/* WHY ST */
.why-st {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.why-st-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.why-st-text-top {
    display: flex;
    flex-direction: column;
}

.why-st-text-top p {
    text-transform: uppercase;
}

.why-st-text-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.why-st-text-bottom-second {
    display: flex;
    gap: 40px;
}

.why-st-child {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-st-image-container {
    display: grid;
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(2, 280px);
    gap: 20px;
    padding: 0 5px;
}

.why-st-images {
    width: 100%;
    height: 100%;
}

.why-st-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

/* PLACE */
.the-place {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the-place-first-part {
    width: 60%;
}

.the-place-first-part p {
    margin-top: 1rem;
}

.the-place-second-part {
    width: 480px;
    height: 400px;
    object-fit: cover;
    padding-left: 10px;
}

.the-place-second-part img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 3px;

}

/* HISTORY */
.history {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-first-part {
    width: 480px;
    height: 400px;
    object-fit: cover;
    padding-right: 10px;
}

.history-first-part img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;

}

.history-second-part {
    width: 60%;
}

.history-second-part p {
    margin-top: 1rem;
}

/* FOUNDERS */
.founders-card-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 1rem;
}

.founders-card-container-first,
.founders-card-container-second {
    max-width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.founder-card-image-section {
    width: 350px;
    height: 400px;
}

.founder-card-image-section img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 5px;

}

.founder-names {
    font-style: italic;
    text-align: center;
}

/* AWARDS AND CERTIFICATE */
.scroll-container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1400px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.scroll-container::before,
.scroll-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.scroll-container::before {
    left: 0;
    background: linear-gradient(to right, #000, transparent);
}

.scroll-container::after {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}

.card {
    flex: 0 0 auto;
    width: 400px;
    height: 450px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 70s linear infinite;
}

.scroll-container:hover .group {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* RESPONSIVENESS */
@media (max-width: 1000px) {
    .why-st-image-container {
        margin-top: 3rem;
    }

    .why-st {
        flex-direction: column;
    }

    .card {
        width: 260px;
        height: 320px;
    }

    .scroll-container::before,
    .scroll-container::after {
        width: 100px;
    }
}

@media (max-width: 800px) {
    body {
        line-height: 1.4;
    }

    .container {
        padding: 1rem 0.8rem;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.1;
    }

    .about-svg {
        gap: 10px;
    }

    .about-page-vector-image {
        width: 70px;
        height: 70px;
    }

    .the-place {
        flex-direction: column;
    }

    .the-place-first-part {
        width: 100%;
    }

    .the-place-second-part {
        max-width: 550px;
        width: 100%;
        height: auto;
        margin-inline: auto;
        padding: 20px;
    }

    .the-place-second-part img {
        width: 100%;
        height: 100%;
    }

    .history {
        flex-direction: column-reverse;
    }

    .history-first-part {
        max-width: 550px;
        width: 100%;
        height: auto;
        margin-inline: auto;
        padding: 20px;
    }


    .history-second-part {
        width: 100%;
    }

    .founders-card-container {
        flex-wrap: wrap;
    }

    .founder-card-image-section {
        max-width: 200px;
        height: auto;
    }

    .card {
        width: 200px;
        height: 260px;
    }

    .scroll-container::before,
    .scroll-container::after {
        width: 60px;
    }
}

@media (max-width: 700px) {
    .academics {
        margin-top: 70px;
    }
}

@media (max-width: 600px) {
    .why-st-image-container {
        margin-top: 1rem;
        grid-template-rows: repeat(2, 130px);
        grid-template-columns: repeat(2, 180px);
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .about-first-card {
        gap: 10px;
    }

    .academics-inner .subtitle {
        font-size: 1rem;
    }

    body {
        line-height: 1.3;
    }

    h1 {
        font-size: 2rem;
        line-height: 1;
    }

    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    .btn {
        padding: .5rem .8rem;
        border-radius: 10px;
    }

    .about-page-vector-image {
        width: 60px;
        height: 60px;
    }

    .about-page-vector-image img {
        width: 50%;
        height: 50%;
    }

    .founder-card-image-section {
        max-width: 180px;
        height: auto;
    }

    .card {
        width: 150px;
        height: 200px;
    }

    .scroll-container::before,
    .scroll-container::after {
        width: 40px;
    }
}

@media (max-width: 400px) {
    body {
        line-height: 1.1;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    .why-st-image-container {
        grid-template-rows: repeat(1, 130px);
        grid-template-columns: repeat(1, 180px);
    }

    .about-svg {
        flex-wrap: wrap;
        justify-content: center;
    }
}