:root {
    --maxw: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}


/* CONTAINER AND TYPOGRAPHY */
.container {
    color: #2c3e50;
    max-width: var(--maxw);
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.7rem;
    margin-block: 1.2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}

/* HEADING AND IMAGE */
.admission-container {
    margin-top: 90px;
    position: relative;
    height: 380px;
    background: url('/images/school-image.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0;
}

.admission-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
}

.admission-inner {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 0 .5rem;
}

.admission-inner .subtitle {
    font-size: 1.1rem;
    opacity: 0.8;
}

section {
    margin-block: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(97, 63, 63, 0.1);
}

/* BUTTONS */
.admission-buttons,
.admission-buttons-second {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--maxw);
    margin: 0 auto;
    background-color: transparent;
}

.admission-buttons-second {
    justify-content: end;
}

.admission-buttons a,
.admission-buttons-second a {
    padding: 12px 25px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Steps */
.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.step {
    background: #69929c;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.step h4 {
    margin-block: 1.1rem;
}

.step:hover {
    background: #dff9fb;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f1f2f6;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
}

/* FEE STRUCTURE */
.fee-structure h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

thead {
    background-color: red;
    color: blue;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.heading {
    margin: 30px 0 0 10px;
    color: #000000;
    font-size: 1.3rem;
}



/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 5px;
    border-top: 1px solid rgba(155, 150, 150, 0.425);
}

.footer-container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(155, 150, 150);
}

.about-us {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-us {
    max-width: 400px;
}

.quick-links div a,
.follow-us div a {
    color: white;
    opacity: 0.8;
}

.quick-links,
.follow-us,
.contact-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-us div p,
.quick-links div p,
.follow-us div p,
.contact-us div p {
    opacity: 0.8;
}

.quick-links div,
.follow-us div,
.contact-us div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contact-us div p a {
    color: inherit;
}

.copy-right {
    padding: 10px 0;
}

.copy-right a {
    color: rgb(0, 140, 255);
}


/* RESPONSIVENESS */
@media (max-width: 800px) {
    body {
        line-height: 1.2;
    }

    .container {
        padding: 1rem .5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }


    .footer-container {
        gap: 40px;
    }

    .about-us {
        gap: 15px;
    }

    .quick-links,
    .follow-us,
    .contact-us {
        gap: 15px;
    }

    .about-us div p,
    .quick-links div p,
    .follow-us div p,
    .contact-us div p {
        margin-top: 5px;
    }
}


@media (max-width: 700px) {
    .container{
        margin: 20px;
    }

    .admission-container {
        margin-top: 70px;
    }

    .admission-buttons,
    .admission-buttons-second {
        justify-content: center;
    }

    .admission-buttons a,
    .admission-buttons-second a {
        padding: 10px 20px;
        margin: 10px;
    }
}


@media (max-width: 500px) {
    .admission-inner .subtitle {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

}

@media (max-width: 400px) {
    body {
        line-height: 1.1;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    p {
        font-size: 1rem;
    }

    th,
    td {
        padding: 5px;
    }

}