:root {
    --text-light: #dbdbdbd3;
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    border-top: 1px solid rgba(155, 150, 150, 0.425);
}

.footer-container {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;
    padding: 40px 0;
    border-bottom: 1px solid rgb(155, 150, 150);
    color: var(--text-light);

}

.about-us {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-us {
    max-width: 400px;
}

.quick-links div a:hover,
.follow-us div a:hover {
    opacity: 1;
}

.quick-links,
.follow-us,
.contact-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-us div p,
.quick-links div p,
.follow-us div p,
.contact-us div p {
    margin: 0;
}

.quick-links div,
.follow-us div,
.contact-us div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-us div p a {
    color: inherit;
}

.copy-right {
    padding: 10px 0;
    text-align: center;
}

.copy-right a {
    color: rgb(0, 140, 255);
}

.up-arrow {
    margin-left: 20px;
    color: aliceblue !important;
}

@media (max-width: 800px) {
    .footer-container {
        padding: 20px 0;
        gap: 40px;
    }

    .about-us {
        gap: 15px;
    }

    .quick-links,
    .follow-us,
    .contact-us {
        gap: 15px;
    }

    .about-us div p,
    .quick-links div p,
    .follow-us div p,
    .contact-us div p {
        margin-top: 5px;
    }
}