:root {
    --text-color: azure;
    --second-text-color: white;
    --button-color: rgba(236, 105, 105, 0.6);
    --black-text: black;
    --light-text: rgb(27, 26, 26);
}

* {
    box-sizing: border-box;

}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--text-color);
}

.slider-box {
    height: calc(100dvh - 90px);
    margin-top: 90px;

    .slider {
        height: 100%;
    }
}

.slider {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 16s infinite;
    opacity: 0;
}

.slide:nth-child(1) {
    opacity: 1;
    left: 0%;
    animation-delay: 0s;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 4s;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 8s;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4) {
    left: 100%;
    animation-delay: 12s;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
}

.slide p {
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
        opacity: 1;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
        opacity: 1;
    }

    30.0001% {
        left: -100%;
        width: 0%;
        opacity: 0;
    }

    100% {
        left: 100%;
        width: 100%;
        opacity: 0;
    }
}

.social-icons {
    width: 45px;
    height: 150px;
    position: fixed;
    left: 20px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.facebook,
.youtube,
.instagram {
    height: 45px;
    width: 100%;
    border-radius: 3px;
}

.facebook a,
.youtube a,
.instagram a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook {
    background-color: #3B5998;
}

.youtube {
    background-color: #CD201F;
}

.instagram {
    background-color: #262626;
}

.facebook img,
.youtube img,
.instagram img {
    width: 60%;
    height: 60%;
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.controls img {
    max-width: 70px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: var(--button-color);
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

.controls img:hover {
    transform: scale(1.1);
}


/* Second Page */
main {
    width: 100%;
    background-color: black;
}

.second-page {
    max-width: 100%;
    color: var(--dark-text-color);
}

.welcome-to-st-col {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.welcome-to-st-col h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

.Where-learning-blossoms {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    margin: 0 auto;
}


.Where-learning-blossoms h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--second-text-color);
    border-left: 1px solid hotpink;
}

.Where-learning-blossoms .main-text {
    min-height: 93px;
    width: 100%;
}

.Where-learning-blossoms .heart-text {
    text-wrap: nowrap;
    color: hotpink;
    font-size: 2.5rem;
}

.Where-learning-blossoms p {
    font-size: 1.4rem;
    padding: 0 15px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}


/* Text scroll animation */
.Where-learning-blossoms span {
    color: hsl(0 0% 100%/ 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}


.Where-learning-blossoms p span {
    animation-range-start: cover 30vh;
    animation-range-end: cover 70vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


.Where-learning-blossoms button {
    padding: 10px 20px;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--second-text-color);
}

.facts-summary {
    max-width: 100%;
    background-color: thistle;
}

.inner-fact-summary {
    display: grid;
    grid-template-columns: repeat(3, 295px);
    grid-template-rows: repeat(2, 230px);
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    text-align: center;
}

.count {
    width: 295px;
    height: 230px;
    backdrop-filter: blur(16px);
    background-color: rgba(17, 25, 40, 0.1);
    border-radius: 12px;
    border: 0.1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.count h2 {
    font-size: 3rem;
}

.count p {
    font-size: 1.8rem;
    color: var(--black-text);
}

.fact-image {
    width: 90px;
    height: 90px;
}

.fact-image img {
    width: 100%;
    height: 100%;
}

/* Third Page */
.third-page {
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
}

.tree-and-study-image {
    max-width: 100%;
    height: 350px;
}

.our-beliefs {
    position: absolute;
    top: 120px;
    right: 35%;
    font-size: 3rem;
}

.tree-and-study-image img {
    width: 100%;
    height: 100%;
}

.mission-and-vision {
    width: 100%;
    /* height: 505px; */
    background-color: rgba(0, 0, 0, 0.479);
    color: var(--text-color);
}

.mission-vision-and-value-container {
    max-width: 100%;
    padding: 69px 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.value-cards {
    max-width: 410px;
    display: flex;
    gap: 10px;
    background-color: #f6f6f662;
    padding: 20px 30px 40px 10px;
    border-radius: 10px;
}

.value-cards:hover {
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

.image-section {
    flex: 0 0 40px;
    width: 40px;
}

.image-section img {
    width: 100%;
}

.value-cards h3 {
    font-size: 2rem
}

.value-cards b {
    font-size: 1.3rem;
    font-weight: 600;

}

.value-cards p {
    font-size: 1.2rem;
    color: var(--light-text);
    text-wrap: wrap;
    white-space: initial;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}





/* Responsive */
@media (max-width: 1050px) {
    .inner-fact-summary {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        grid-template-rows: repeat(2, 190px);
        gap: 20px;
    }

    .count {
        width: 260px;
        height: 190px;
    }

    .count h2 {
        font-size: 2.5rem;
    }

    .count p {
        font-size: 1.5rem;
    }

    .fact-image {
        width: 70px;
        height: 70px;
    }

    .our-beliefs {
        font-size: 2.5rem;
        top: 80px;
        right: 35%;
    }

    .tree-and-study-image {
        height: auto;
    }
}

@media (max-width: 845px) {
    .inner-fact-summary {
        display: grid;
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: repeat(2, 170px);
        gap: 10px;
    }

    .count {
        width: 230px;
        height: 170px;
        gap: 5px;
    }

    .count h2 {
        font-size: 2.5rem;
    }

    .count p {
        font-size: 1.5rem;
    }

    .fact-image {
        width: 70px;
        height: 70px;
    }

    .social-icons {
        position: absolute;
        top: 45%;
    }

    .value-cards h3 {
        font-size: 2rem
    }

    .value-cards b {
        font-size: 1.3rem;
        font-weight: 600;

    }

    .value-cards p {
        font-size: 1.2rem;
        color: var(--light-text);
    }

    .content-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mission-vision-and-value-container {
        padding: 30px 5px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .value-cards h3 {
        font-size: 1.5rem
    }

    .value-cards b {
        font-size: 1rem;
    }

    .value-cards p {
        font-size: 1rem;
    }

    .content-section {
        gap: 10px;
    }

}

@media (max-width: 700px) {
    .controls img {
        max-width: 50px;
        padding: 5px 10px;
    }

    .slider-box {
        margin-top: 70px;
        height: calc(100dvh - 70px);
    }

    .welcome-to-st-col {
        padding: 10px 5px;
    }

    .welcome-to-st-col h1 {
        font-size: 1.5rem;
    }

    .Where-learning-blossoms {
        max-width: 100%;
    }

    .Where-learning-blossoms h1 {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .Where-learning-blossoms p {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .Where-learning-blossoms button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .inner-fact-summary {
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(3, 180px);
        padding: 20px 10px;
    }

    .count {
        width: 225px;
        height: 180px;
        border-radius: 5px;
    }

    .count h2 {
        font-size: 2rem;
    }

    .count p {
        font-size: 1rem;
    }

    .fact-image {
        width: 50px;
        height: 70px;
    }

    .fact-image img {
        width: 100%;
        height: 100%;
    }

    .our-beliefs {
        font-size: 1.8rem;
        top: 50px;
        right: 31%;
    }
}

@media (max-width: 500px) {

    .inner-fact-summary {
        grid-template-columns: repeat(2, 190px);
        grid-template-rows: repeat(3, 150px);
    }

    .count {
        width: 190px;
        height: 150px;
        border-radius: 5px;
    }

    .our-beliefs {
        top: 16px;
        right: 35%;
        padding: 0 10px;
    }

    .mission-vision-and-value-container {
        padding: 20px 10px;
    }

    .value-cards {
        padding: 10px;
    }

    .content-section {
        gap: 5px;
    }

    .image-section {
        flex: 0 0 30px;
        width: 30px;
    }

}

@media (max-width: 450px) {
    .main-text .heart-text {
        padding: 0 4px;
        font-size: 30px;
    }

    .inner-fact-summary {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 110px);
    }

    .count {
        width: 150px;
        height: 110px;
        border-radius: 5px;
        gap: 1px;
        padding: 2px;
    }

    .fact-image {
        width: 40px;
        height: 55px;
    }
}