:root {
    --text-color: azure;
    --second-text-color: white;
    --button-color: rgba(236, 105, 105, 0.6);
}

* {
    box-sizing: border-box;

}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--text-color);
}

.slider-box {
    height: calc(100dvh - 90px);
    margin-top: 90px;

    .slider {
        height: 100%;
    }
}

.slider {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 16s infinite;
    opacity: 0;
}

.slide:nth-child(1) {
    opacity: 1;
    left: 0%;
    animation-delay: 0s;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 4s;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 8s;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4) {
    left: 100%;
    animation-delay: 12s;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
}

.slide p {
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
        opacity: 1;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
        opacity: 1;
    }

    30.0001% {
        left: -100%;
        width: 0%;
        opacity: 0;
    }

    100% {
        left: 100%;
        width: 100%;
        opacity: 0;
    }
}

.social-icons {
    width: 45px;
    height: 150px;
    position: fixed;
    left: 20px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.facebook,
.youtube,
.instagram {
    height: 45px;
    width: 100%;
    border-radius: 3px;
}

.facebook a,
.youtube a,
.instagram a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook {
    background-color: #3B5998;
}

.youtube {
    background-color: #CD201F;
}

.instagram {
    background-color: #262626;
}

.facebook img,
.youtube img,
.instagram img {
    width: 60%;
    height: 60%;
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.controls img {
    max-width: 70px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: var(--button-color);
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

.controls img:hover {
    transform: scale(1.1);
}


/* Second Page */
main {
    width: 100%;
    /* height: calc(100dvh - 90px); */
    background-color: black;
}

.second-page {
    max-width: 100%;
    color: var(--dark-text-color);
}

.welcome-to-st-col {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.welcome-to-st-col h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

.Where-learning-blossoms {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    margin: 0 auto;
}


.Where-learning-blossoms h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--second-text-color);
}

.Where-learning-blossoms .heart-text {
    text-wrap: nowrap;
    color: hotpink;
}

.Where-learning-blossoms p {
    font-size: 1.4rem;
    padding: 0 15px;
}

.Where-learning-blossoms p span {
    font-weight: bolder;
}

/* Text scroll animation */
.Where-learning-blossoms span {
    color: hsl(0 0% 100%/ 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}


.Where-learning-blossoms p span {
    animation-range-start: cover 30vh;
    animation-range-end: cover 70vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


.Where-learning-blossoms button {
    padding: 10px 20px;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--second-text-color);
}





.facts-summary {
    max-width: 100%;
    background-color: thistle;

}

.inner-fact-summary {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;
}

.count {
    height: 190px;
    width: 250px;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}


.count h2 {
    font-size: 2.5rem;
}

.count p {
    font-size: 1.5rem;
}

.fact-image {
    width: 70px;
    height: 70px;
}

.fact-image img {
    width: 100%;
    height: 100%;
}





/* Responsive */
@media (max-width: 1005px) {
    .inner-fact-summary {
        /* max-width: 95%; */
    }
}


@media (max-width: 700px) {
    .controls img {
        max-width: 50px;
        padding: 5px 10px;
    }

    .slider-box {
        margin-top: 70px;
        height: calc(100dvh - 70px);
    }

    main {
        /* height: calc(100vh - 70px); */
    }

    .welcome-to-st-col {
        padding: 10px 5px;
    }

    .welcome-to-st-col h1 {
        font-size: 1.5rem;
    }


    .Where-learning-blossoms  {
        max-width: 100%;
    }
    .Where-learning-blossoms h2 {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .Where-learning-blossoms p {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .Where-learning-blossoms button {
        padding: 10px 20px;
        font-size: 1rem;
    }









    .inner-fact-summary {
        padding: 20px 0;
    }

    .count {
        height: 150px;
        width: 190px;
        gap: 5px;
        border-radius: 5px;
    }

    .count h2 {
        font-size: 2rem;
    }

    .count p {
        font-size: 1rem;
    }

    .fact-image {
        width: 50px;
        height: 70px;
    }

    .fact-image img {
        width: 100%;
        height: 100%;
    }
}