<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= id %></h1>
    <form action="/home/galleryUpdate/details/<%= id%>" method="post">
      <input
        type="text"
        name="title"
        placeholder="title"
        maxlength="60"
        minlength="3"
        title="Unique ID should be alphanumeric and between 3 to 30 characters"
      />
      <br />
      <input
        type="text"
        name="desc"
        placeholder="desc"
        minlength="3"
        maxlength="500"
        title="Position should be alphabets and between 3 to 30 characters"
      />
      <br>
      <input type="date" name="EventDate" id="" value="2002-01-01">
      <br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
