<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/admission/getEnroll" method="post">
    <label for="emailOrId">Email Or porcessId</label><br>
    <input type="text" name="emailorID" placeholder="STC2500000" id="emailOrId" maxlength="40" minlength="10"><br>
    <button type="submit">Check</button>
  </form>
</body>
</html>