<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ST ColumbusSchool</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
  integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<link rel="stylesheet" href="/style/style.css">
<script src="/script/script.js" defer></script>
<link rel="stylesheet" href="/style/home.css">
<script src="/script/home.js" defer></script>
</head>

<body>
  <!-- including  Nav bar -->
  <%- include('index.ejs') %>
    <!-- write Home page code here -->

    <div class="slider-box">
      <div class="slider">
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>

        <div class="social-icons">
          <div class="facebook">
            <a href="/">
              <img src="/images/facebook.svg" alt="">
            </a>
          </div>
          <div class="youtube">
            <a href="/">
              <img src="/images/youtube.svg" alt="">
            </a>
          </div>
          <div class="instagram">
            <a href="/">
              <img src="/images/instagram.svg" alt="">
            </a>
          </div>
        </div>

        <div class="controls">
          <img src="/images/previous-arrow.svg" id="prev">
          <img src="/images/next-arrow.svg" id="next">
        </div>
      </div>
    </div>

    <main>
      <section class="second-page">
        <div class="welcome-to-st-col">
          <h1>Welcome to <br> ST.COLOMBUS PUBLIC SCHOOL</h1>
        </div>

        <div class="Where-learning">
          <div class="Where-learning-blossoms">
            <div class="main-text">
              <h1>Where Learning Blossoms in the <span class="heart-text">Heart of Nature</span></h1>
            </div>
            <p>
              <span>
                St. Colombus Public School is a co-educational English-medium institution established in 2002, offering
                classes from
                Pre-Primary to Class 8. The school focuses on academic growth, discipline, and character building in a
                supportive
                environment.

                Emphasizing extracurricular activities, moral values, and life skills, it prepares students to excel
                academically while
                growing into confident and responsible individuals.
              </span>
            </p>
            <button>ABOUT US</button>
          </div>
        </div>


        <div class="facts-summary">
          <div class="inner-fact-summary">
            <div class="first-fact count">
              <div class="fact-image">
                <img src="/images/student.svg" alt="students-icon">
              </div>
              <h2 class="increment">2000+</h2>
              <p>Students</p>
            </div>
            <div class="second-fact count">
              <div class="fact-image">
                <img src="/images/teacher.svg" alt="teacher-icon">
              </div>
              <h2 class="teacher-increment">50+</h2>
              <p>Teachers</p>
            </div>
            <div class="third-fact count">
              <div class="fact-image">
                <img src="/images/school.svg" alt="school-icon">
              </div>
              <h2 class="school">2</h2>
              <p>Schools</p>
            </div>
            <div class="fourth-fact count">
              <div class="fact-image">
                <img src="/images/computer.svg" alt="computer-icon">
              </div>
              <h2>1</h2>
              <p>Computer Labs</p>
            </div>
            <div class="fifth-fact count">
              <div class="fact-image">
                <img src="/images/library.svg" alt="library-icon">
              </div>
              <h2>1</h2>
              <p>Library</p>
            </div>
            <div class="sixth-fact count">
              <div class="fact-image">
                <img src="/images/area.svg" alt="area-icon">
              </div>
              <h2>20+</h2>
              <p>Acres</p>
            </div>
          </div>
        </div>
      </section>

      <section class="third-page">
        <div class="tree-and-study-image">
          <img src="/images/tree-and-study.png" alt="tree-and-study">
        </div>
        <div class="our-beliefs">
          <h1>Our Beliefs and Values</h1>
        </div>

        <div class="mission-and-vision">
          <div class="mission-vision-and-value-container">
            <div class="mission value-cards">
              <div class="image-section">
                <img src="/images/mission.svg" alt="">
              </div>
              <div class="content-section">
                <h3>MISSION</h3>
                <b>Inspiring Growth, Shaping Character.</b>
                <p>Our mission is to cultivate a dynamic and inclusive learning environment where every child is
                  empowered with knowledge,
                  life skills, and strong moral values. We aim to prepare students not just for exams, but for
                  life—instilling confidence,
                  compassion, and a sense of purpose.</p>
              </div>
            </div>
            <div class="vision value-cards">
              <div class="image-section">
                <img src="/images/vision.svg" alt="">
              </div>
              <div class="content-section">
                <h3>VISION</h3>
                <b>Inspiring Growth, Shaping Character.</b>
                <p>Our mission is to cultivate a dynamic and inclusive learning environment where every child is
                  empowered with knowledge,
                  life skills, and strong moral values. We aim to prepare students not just for exams, but for
                  life—instilling confidence,
                  compassion, and a sense of purpose.</p>
              </div>
            </div>
            <div class="core-value value-cards">
              <div class="image-section">
                <img src="/images/core-value.svg" alt="">
              </div>
              <div class="content-section">
                <h3>CORE VALUE</h3>
                <b>Inspiring Growth, Shaping Character.</b>
                <p>Our mission is to cultivate a dynamic and inclusive learning environment where every child is
                  empowered with knowledge,
                  life skills, and strong moral values. We aim to prepare students not just for exams, but for
                  life—instilling confidence,
                  compassion, and a sense of purpose.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="fourth-page">
        <div class="why-this-school">
          <h1>Why St. Colombus Public School?</h1>
          <p>At St. Colombus Public School, we go beyond textbooks to nurture well-rounded individuals equipped for life. Our
            educational philosophy focuses not just on academic achievement, but on the holistic development of every child-intellectually, emotionally, physically, and
            ethically. We create a learning environment where curiosity is encouraged, values are instilled, and each student is inspired to reach their full potential.
            Here's what truly sets us apart:</p>
        </div>
        
        <div class="why-this-school-card-container">
          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/holistics.svg" alt="">
            </div>
            <h3>Holistic Education Approach</h3>
            <p>At Roots Country School, we believe in nurturing the whole child. Our curriculum integrates academics, sports, arts, and life skills, helping students grow intellectually, emotionally, socially, and morally—preparing them for all aspects of life</p>
          </div>

          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/strong-value.svg" alt="">
            </div>
            <h3>Strong Value System</h3>
            <p>We are deeply rooted in Indian culture while
            embracing global perspectives. Our students are
            guided by values such as honesty, empathy,
            respect, and responsibility-forming the
            foundation of their character and future
            leadership.</p>
          </div>

          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/experience.svg" alt="">
            </div>
            <h3>Experienced & Caring Faculty
            </h3>
            <p>Our dedicated team of teachers brings a wealth
            of experience, subject expertise, and a deep
            commitment to student well-being. They provide
            personalized attention, fostering both academic
            achievement and emotional growth.</p>
          </div>

          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/safe-and-campus.svg" alt="">
            </div>
            <h3>Safe and Serene Campus</h3>
            <p>Set amidst the scenic hills of Himachal, our eco-
            friendly campus offers a calm and secure
            environment. Free from distractions, this natural
            setting promotes focused learning, creativity, and
            peace of mind for every student.</p>
          </div>

          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/focus.svg" alt="">
            </div>
            <h3>Focus on Individua</h3>
            <p>We understand that each child is unique. With
            small class sizes, one-on-one mentoring, and
            continuous performance feedback, we help every
            student discover their strengths and reach their
            full potential.</p>
          </div>

          <div class="why-card">
            <div class="why-section-image">
              <img src="/images/global.svg" alt="">
            </div>
            <h3>Global Outlook with Local Roots
            </h3>
            <p>While preparing students to compete and thrive
            in a globalized world, we remain firmly grounded
            in our cultural heritage. This balance creates
            confident, respectful, and responsible global
            citizens.</p>
          </div>
          
        </div>
      </section>

      <section class="fifth-page">
        <div class="achievement">
          <h1># Happenings St. Columbus</h1>
          <p>Boys and girls at The "St. Columbus Public School" experience something new each day, while teachers and staff learn
            and grow together with them like a family.</p>
        </div>

        <div class="image-card">

          <div class="gallery-img first">
            <img class="firstImageTag" src="" alt="first-image">
          </div>
          <div class="gallery-img center">
            <img class="centerImageTag" src="" alt="second-image">
          </div>
          <div class="gallery-img last">
            <img class="lastImageTag" src="" alt="last-image">
          </div>
        </div>
      </section>

      <section class="sixth-page">
        <div class="top-border">
          <img src="/images/founders-border-top.svg" alt="">
        </div>
        <div class="founders">
          <div class="founder-left">
            <h1>Founders</h1>
            <p>Through their unwavering dedication and visionary leadership, Sunil and Kriti Rotha have not only revolutionized the educational fabric of the Shimla Hills but have also pioneered a transformative model of holistic, value-driven, and environmentally conscious schooling that stands as a beacon of excellence across India's educational landscape.</p>
            <a href="/">About Founders</a>
          </div>
          <div class="founder-right">
            <div class="right-first">
              <div class="right-first-image">
                <img src="/images/founder1.jpg" alt="">
              </div>
              <h3>SK SHARMA</h3>
              <p>Director</p>
            </div>
            <div class="right-second">
              <div class="right-second-image">
                <img src="/images/founder1.jpg" alt="">
              </div>
              <h3>DEV SHARMA</h3>
              <p>Principle</p>
            </div>
          </div>
        </div>
        <div class="bottom-border">
          <img src="/images/founders-border.svg" alt="">
        </div>


        <div class="frequently-asked-questions">
          <div class="faq-image-text">
            <div class="faq-image">
              <img src="/images/icon-star.svg" alt="">
            </div>
            <h1>Frequent Asked Questions</h1>
          </div>
          <div class="faq-container">
            <div class="question-section">
              <div class="question">
                <p>What classes are offered at St. Columbus Public School?</p>
              </div>
              <div class="faq-icon">
                <img src="/images/icon-plus.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      

    </main>

</body>

</html>



