<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ST ColumbusSchool</title>
  <link rel="stylesheet" href="/style/style.css">
  <script src="/script/script.js" defer></script>
  <link rel="stylesheet" href="/style/home.css">
  <script src="/script/home.js" defer></script>
</head>
<body>
  <!-- including  Nav bar -->
    <%- include('index.ejs') %>
    <!-- write Home page code here -->

    <div class="slider">
      <div class="slide">
        <p>Slide 1</p>
      </div>
      <div class="slide">
        <p>Slide 2</p>
      </div>
      <div class="slide">
        <p>Slide 3</p>
      </div>
      <div class="slide">
        <p>Slide 4</p>
      </div>

      <!-- Control Buttons -->
      <div class="controls">
        <img src="/images/previous-arrow.svg" id="next">
        <img src="/images/next-arrow.svg" id="prev">
      </div>
    </div>


</body>

</html>