<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ST ColumbusSchool</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style/style.css">
  <script src="/script/script.js" defer></script>
  <link rel="stylesheet" href="/style/home.css">
  <script src="/script/home.js" defer></script>
</head>
<body>
  <!-- including  Nav bar -->
    <%- include('index.ejs') %>
    <!-- write Home page code here -->
<!-- 
    <div class="slider">
      <div class="slide">
      </div>
      <div class="slide">
      </div>
      <div class="slide">
      </div>
      <div class="slide">
      </div>

      <div class="controls">
        <img src="/images/previous-arrow.svg" id="prev">
        <img src="/images/next-arrow.svg" id="next">
      </div>
    </div> -->

    
</body>

</html>