<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ST ColumbusSchool</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
  integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/style/style.css">
<script src="/script/script.js" defer></script>
<link rel="stylesheet" href="/style/home.css">
<script src="/script/home.js" defer></script>
</head>

<body>
  <!-- including  Nav bar -->
  <%- include('index.ejs') %>
    <!-- write Home page code here -->

    <div class="slider-box">
      <div class="slider">
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>

        <div class="controls">
          <img src="/images/previous-arrow.svg" id="prev">
          <img src="/images/next-arrow.svg" id="next">
        </div>
      </div>
    </div>

    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe temporibus, cum error id beatae doloribus porro,
      sit quae voluptatum officiis molestiae ducimus libero autem iure, quo aperiam placeat repellat rem quaerat est
      itaque! Blanditiis, quibusdam reprehenderit praesentium vitae quidem, magni beatae fugiat ullam, similique totam
      saepe. Ut deleniti excepturi delectus eaque? Eaque asperiores repudiandae exercitationem temporibus deserunt non
      soluta a tempore tenetur nemo iusto neque molestiae reprehenderit mollitia ea, et amet magnam laboriosam
      consequatur error provident sunt qui. Labore distinctio saepe voluptatum veniam, quasi inventore modi, suscipit
      similique soluta commodi excepturi vero asperiores? Minus, provident deleniti nihil quas natus ratione?
    </main>

</body>

</html>