<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="/images/img.png" alt="ddd" /></a>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Academics</a></li>
    </ul>
    <div class="noticeb">
        <a href="">Notice Board</a>
    </div>
  </nav>
</header>
