<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="logo" />
      </a>
    </div>
    
    <div class="links">
      <a href="/" class="first-link">Home</a>
      <a href="/about">About</a>
      <a href="/academics">Academics</a>
      <a href="/gallery">Gallery</a>
      <a href="/notice">Notice</a>
      <a href="/contact" class="last-link">Contact</a>
    </div>

    <a class="admission" href="/admission">
      <div>Admission</div>
      <div class="arrow-icon">
        <img src="/images/icons/arrow-icon.svg" alt="arrow-icon" />
      </div>
    </a>

    <div class="hamburger">
      <img src="/images/icons/menu.svg" alt="menu icon" id="menu-icon">
    </div>

  </nav>
</header>