<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Achiv</h1>
    <form action="/home/achiv/new" method="post" enctype="multipart/form-data">
        <input type="file" name="img" required><br>
        <input type="text" name="title" id="" maxlength="60" minlength="3" placeholder="title" required><br>
        <input type="text" name="desc" id="" maxlength="500" minlength="3" placeholder="desc"><br>
        <input type="text" name="prizeType" id="" placeholder="prize Type" maxlength="30"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>