<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Set new video to gallery</h1>
  <form action="/home/video/update/<%=id  %>" method="POST">
    <label for="video">New Embed Code</label>
    <input type="text" name="videoEmbed" id="video" placeholder="Enter video embed link" >
    <button type="submit">Set Video</button>
  </form>
</html>